@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:deeppink">
        Dobrodošli!
    </h1><hr>
    <h3 style="color:lightblue">
        Sajt služi za prikaz koncerata, dodavanje, kao i modifikovanje istih, čak i brisanje. Moguće je dodavanje
        novih bendova, izvođača, kao i numera koje oni izvode.
    </h3>
    <h4 style="color:darkslateblue">Izaberite opciju:</h4>
    <div>
        <a href="../Koncert/PrikaziKoncerte" class="this-page-style">Prikaži koncerte</a>
    </div>
    <div>
        <a href="../Bend/PrikaziBendove" class="this-page-style">Prikaži bendove</a>
    </div>
    <div>
        <a href="../Izvodjac/PrikaziIzvodjace" class="this-page-style">Prikaži izvođače</a>
    </div>
    <div>
        <a href="../Zakazivanje/PrikaziZakazivanja" class="this-page-style">Prikaži zakazano</a>
    </div>
    <br />
    <div>
        <a href="../Koncert/PretragaKoncerataPoTipu" class="this-page-style">Pretraži koncerte </a>
    </div>
</div>
