@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h4>
        U ovoj detaljnoj politici privatnosti su data objašnjenja o podacima koje prikupljamo na našem veb-sajtu i o podacima koje obrađujemo i koristimo.

        Zaštita podataka nam je važna i shvatamo je veoma ozbiljno. Oslanjamo se na pouzdanu saradnju sa vama i činimo sve što je u našoj mogućnosti kako biste bili potpuno zadovoljni – naravno, ovo važi i za rukovanje vašim podacima o ličnosti. Putem ovih odredbi o zaštiti podataka bismo želeli da vas obavestimo o načinu obrade vaših podataka o ličnosti. Zbog toga vas molimo da uzmete u obzir informacije u nastavku. Naše odredbe o zaštiti podataka dopunjuju Uslove korišćenja veb-sajtova kompanije B. Braun.

        Usled razvoja našeg veb-sajta i implementacije novih zakonskih zahteva, nove tehnologije ili u cilju poboljšanja usluga koje vam pružamo, moguće su izmene ove politike privatnosti. Zbog toga vam preporučujemo da povremeno pročitate ovu politiku privatnosti.
    </h4>
</p>
